/.idea
*-debug.log
*-error.log
/.nyc_output
/dist
/tmp
node_modules
/coverage

cookie.txt
coverage.html

inputs/**/1.txt
inputs/**/2.txt
inputs/**/3.txt
inputs/**/4.txt
inputs/**/5.txt
inputs/**/6.txt
inputs/**/7.txt
inputs/**/8.txt
inputs/**/9.txt
inputs/**/10.txt
inputs/**/11.txt
inputs/**/12.txt
inputs/**/13.txt
inputs/**/14.txt
inputs/**/15.txt
inputs/**/16.txt
inputs/**/17.txt
inputs/**/18.txt
inputs/**/19.txt
inputs/**/20.txt
inputs/**/21.txt
inputs/**/22.txt
inputs/**/23.txt
inputs/**/24.txt
inputs/**/25.txt
